@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/Proxima Nova Bold.otf");
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../assets/fonts/ProximaNova-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
/* Hide scrollbar for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
