.button {
  background-image: linear-gradient(
    90.21deg,
    rgba(85, 255, 245, 0.7) -16.89%,
    #5764ff 72.48%
  );
  border-radius: 5px;

  height: 50px;

  text-align: center;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(
    90.21deg,
    rgba(85, 255, 245, 0.14) -16.89%,
    rgba(87, 100, 255, 0.2) 72.48%
  );
  border-color: linear-gradient(
    90.21deg,
    rgba(85, 255, 245, 0.7) -16.89%,
    #5764ff 72.48%
  );
  cursor: pointer;
  color: white;
  border: 2px solid #5764ff;
}

.blacklist {
  background: linear-gradient(
    90.21deg,
    rgba(85, 255, 245, 0.14) -16.89%,
    rgba(87, 100, 255, 0.2) 72.48%
  );
  border-radius: 5px;
  border-color: linear-gradient(
    90.21deg,
    rgba(85, 255, 245, 0.7) -16.89%,
    #5764ff 72.48%
  );
  height: 50px;
  cursor: pointer;
  color: white;
  border: 2px solid #5764ff;
}
.debtCard {
  width: 100%;
  height: 350px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  position: relative;
  background: linear-gradient(
    233.9deg,
    rgba(16, 16, 28, 0.1) 6.26%,
    rgba(0, 255, 240, 0) 85.96%
  );
}
.debtCard:hover {
  cursor: pointer;
}

.front,
.back {
  position: absolute;

  backface-visibility: hidden;
  transition: transform 0.5s;
}
.back {
  transform: rotateY(180deg);
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0);
}
